extends layout

block content
  h1= title
  ul
  li: a(href="logs/save/1000") save 1.000 logs
  li: a(href="logs/insert/1000") insert 1.000 logs
  li
  li: a(href="logs/save/10000") save 10.000 logs
  li: a(href="logs/insert/10000") insert 10.000 logs
  li
  li: a(href="logs/save/100000") save 100.000 logs
  li: a(href="logs/insert/100000") insert 100.000 logs
  li
  li: a(href="logs/save/1000000") save 1.000.000 logs
  li: a(href="logs/insert/1000000") insert 1.000.000 logs
  li
  li: a(href="logs/remove") remove all logs
  li
  li: a(href="logs/count") count logs
  li
  li: a(href="logs/show/100") show 100 logs
  li: a(href="logs/show/1000") show 1.000 logs
  li: a(href="logs/show/10000") show 10.000 logs